{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm p-4">
            <h1 class="text-primary mb-3">Генератор подкастов</h1>
            <p class="lead">Преобразуйте текстовые материалы (PDF, DOCX, веб-статьи) в аудиоподкасты с помощью ИИ: диалоговый сценарий, синтез речи, фоновая музыка и обложка.</p>
            <ul class="mb-4">
                <li>Загрузите файл или укажите URL</li>
                <li>Выберите стиль и голоса</li>
                <li>Получите готовый подкаст и RSS-ленту</li>
            </ul>
            <a href="/create" class="btn btn-primary btn-lg">Создать подкаст</a>
        </div>
    </div>
</div>
{% endblock %}
